<!DOCTYPE html>
<html>
<head>
  <title>Pairbnb</title>

  <%= csrf_meta_tags %>
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Montserrat" rel="stylesheet"> 
</head>
<body>
	<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
	<%= render 'layouts/navbar' %>
	<div class="main-content container-fluid" style="padding: 0px; "><%= yield %></div>
</body>
</html>

